*.bak                                                                                                                                                                                                                                                             
bin/
build/
.settings/
.gradle/
.idea/
*.lock
package-lock.json
